<div>
    <el-card shadow="never" style="margin-right: 34%; margin-left: 34%">
        <el-form ref="todoForm" :model="todoForm" :rules="rules">
            <el-form-item label="title" prop="title">
                <el-input v-model="todoForm.title"></el-input>
            </el-form-item>
            <el-form-item label="detail" prop="detail">
                <el-input rows="4" cols="40" type="textarea" v-model="todoForm.detail"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addTodo('todoForm')">add</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>